/* Apply styles only to the contact section */
.contact-section body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  line-height: 1.9;
  color: #8c8c8c;
}

.contact-section h1,
.contact-section h2,
.contact-section h3,
.contact-section h4,
.contact-section h5,
.contact-section h6,
.contact-section .h1,
.contact-section .h2,
.contact-section .h3,
.contact-section .h4,
.contact-section .h5,
.contact-section .h6 {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.contact-section a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.contact-section a,
.contact-section a:hover {
  text-decoration: none !important;
}

.contact-section .text-black {
  color: #000;
}

.contact-section .content {
  padding: 7rem 0;
}

.contact-section .heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.contact-section .form-control {
  border: none;
  background: #f3f3f3;
}

.contact-section .form-control:active,
.contact-section .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
  background: #f3f3f3;
}

.contact-section .col-form-label {
  color: #000;
}

.contact-section .btn,
.contact-section .form-control,
.contact-section .custom-select {
  height: 50px;
}

.contact-section .custom-select:active,
.contact-section .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.contact-section .btn {
  border: none;
  border-radius: 4px !important;
}

.contact-section .btn.btn-primary {
  background: #000;
  color: #fff;
  padding: 15px 20px;
}

.contact-section .btn:hover {
  color: #fff;
}

.contact-section .btn:active,
.contact-section .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-section .box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
}

.contact-section .box h3 {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-section label.error {
  font-size: 12px;
  color: red;
}

.contact-section #message {
  resize: vertical;
}

.contact-section #form-message-warning,
.contact-section #form-message-success {
  display: none;
}

.contact-section #form-message-warning {
  color: #B90B0B;
}

.contact-section #form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold;
}

.contact-section .submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}
