<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>

</head>

<body>

	<section>
		<div class="header_section">
			<div class="header_left">

				<div class="banner_main">
					<h1 class="banner_taital">financial <br>Service</h1>
					<p class="banner_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem
						Ipsum has been the industry's standard dummy text ever </p>
					<div class="btn_main">
						<div class="more_bt">
							<!--class="btn-open"  need to add this class where we want to open apply form-->
							<a href="#loanSwiper">Apply for Loan</a>


						</div>


						<div class="contact_bt"><a href="#">Loan calculator</a></div>
					</div>
				</div>
			</div>
			<div class="header_right">
				<img src="images/banner-img.png" class="banner_img">
			</div>
		</div>
		<!--about section start -->
		<div class="services_section layout_padding">
			<div class="container">
				<div class="row">
					<div class="col-md-8"><h1 class="services_taital">WELCOME TO FINAnCIAL SERVICES</h1><p class="services_text">It is a long established fact that a reader will be distracted by thereadable content of a page when looking at its layout. The point of using Lorem Ipsum isthat ithas a more-or-less normal distribution of letters, as opposed to using 'Content here,contenthere', making it </p><div class="moremore_bt" style="position: relative; z-index: 1;"><a href="#">Read More </a></div></div>
					<div class="col-md-4">
						<div><img src="images/img-1.png" class="image_1"></div>
					</div>
				</div>
			</div>
		</div>
		<!--about section end -->

		<!--services section start -->
		<div class="what_we_do_section layout_padding">
			<div class="container" id="loanSwiper">
				<h1 class="what_taital">Loans we provide</h1>
				<p class="what_text">It is a long established fact that a reader will be distracted by the readable
					content
					of a </p>
				<div class="slide-container swiper">

					<div class="slide-content">
						<div class="card-wrapper swiper-wrapper">
							<div class="card swiper-slide">
								<div class="card-body">
									<h5 class="card-title">Personal Loan</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
										onclick="setLoanType('Personal Loan')">Apply Now</a>
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="card-body">
									<h5 class="card-title">Home Loan</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
										onclick="setLoanType('Home Loan')">Apply Now</a>
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="card-body">
									<h5 class="card-title">Car Loan</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
										onclick="setLoanType('Car Loan')">Apply Now</a>
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="card-body">
									<h5 class="card-title">Business Loan</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
										onclick="setLoanType('Business Loan')">Apply Now</a>
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="card-body">
									<h5 class="card-title">MortGage Loan</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
										onclick="setLoanType('MortGage Loan')">Apply Now</a>
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="card-body">
									<h5 class="card-title">Loan Take Over</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
										onclick="setLoanType('Loan Take Over')">Apply Now</a>
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="card-body">
									<h5 class="card-title">Shop Purchase Loan</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
										onclick="setLoanType('Shop Purchase Loan')">Apply Now</a>
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="card-body">
									<h5 class="card-title">Plot Purchase Loan</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
										onclick="setLoanType('Plot Purchase Loan')">Apply Now</a>
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="card-body">
									<h5 class="card-title">Property Adviser</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
										onclick="setLoanType('Property Adviser')">Apply Now</a>
								</div>
							</div>
							<!-- ... Add other loan cards ... -->
						</div>
					</div>
					<div class="swiper-button-next swiper-navBtn"></div>
					<div class="swiper-button-prev swiper-navBtn"></div>
					<div class="swiper-pagination"></div>
					<hr />
				</div>


			</div>
		</div>
		<!--services section end -->

		<!--swiper Section-->

		<div class="contact_section layout_padding">
			<div class="container-fluid">
				<h1 class="what_taital">Contact us</h1>
				<p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
				<div class="contact_section2">
					<form th:action="@{/saveContact}" th:object="${contact}" th:method="post">
					<div class="row">
						
							<div class="col-md-6 padding_left_0">
								<div class="mail_section">
									<input type="text" class="mail_text_1" placeholder="Full Name" name="name">
									<input type="email" class="mail_text_1" placeholder="email" name="email">
									<input type="text" class="mail_text_1" placeholder="Subject" name="subject">
									<textarea class="massage_text" placeholder="Message" rows="5" id="comment"
										name="message"></textarea>
									<div class="send_bt"><button class="btn btn-dark" type="submit">Send Message</button></div>
								</div>
							</div>

							<div class="col-md-6 padding_0">
								<div class="map-responsive">
									<iframe
										src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Raipur"
										width="400" height="300" frameborder="0" style="border:0; width: 80%;"
										allowfullscreen=""></iframe>
								</div>
							</div>
						
					</div>
					</form>
				</div>
			</div>
		</div>



	</section>


</body>

</html>